# mqtt properties
mqtt.host=your-mqtt-host
mqtt.port=8883
mqtt.username=your-username
mqtt.password=your-password
mqtt.topic=factory/sensors/

# db connection properties
spring.datasource.url=your-db-url
spring.datasource.username=you-db-username
spring.datasource.password=your-db-password
# table created by Hibernate
spring.jpa.hibernate.ddl-auto=update